@import "tailwindcss";

.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    margin-top: auto;
}

/* Pagination container */
.testimonial-swiper .swiper-pagination {
  position: relative;
  margin-top: 40px; /* ينزلهم تحت */
}

/* Dots الشكل العادي */
.testimonial-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ffffff;
  opacity: 0.5;
  transition: all 0.3s ease;
}

/* Dot active */
.testimonial-swiper .swiper-pagination-bullet-active {
  width: 24px;               /* يخليها طويلة */
  border-radius: 20px;
  background: #ffb606;       /* اللون الأصفر */
  opacity: 1;
}
